.product-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  border: solid black 1px;
  width: 200px
}

.product-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.App {
  display: flex;
  justify-content: space-around;
flex-wrap: wrap;
}